
@font-face {
    font-family: 'GrandeeCP';
    src:  url('GrandeeCP.otf') format('truetype');
    font-weight: lighter;
    font-style: normal;
}


h1 {
    padding-bottom: 20px;
    font-family: 'GrandeeCP';
    color: #A77D54;
}



dd {
    margin-top: 5px;
    margin-bottom: 13px;
}

b {
    background-color: hsla(308, 72%, 55%, 0.72);
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}

b {
    background-color: hsla(308, 72%, 55%, 0.72);
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}

i {
    background-color: hsla(125, 72%, 55%, 0.72);
    color: black;
    padding-left: 10px;
    padding-right: 10px;
    font-style: normal;
}

p {
    font-size: 20px;
    padding: 5px;
    /*Box Shadow - (Optional)*/
    border: 2px solid white;
    border-radius: 25px;
    box-shadow: 2px 2px 45px #fff;
    line-height: 2;



    @media only screen and (min-width: 600px) {
        text-align: left;
    }
    /* Medium devices (landscape tablets, 768px and up) */
    @media only screen and (min-width: 768px) {
        text-align: justify;
    }

}


footer {
  margin-top: 50px;
  border-top: solid;
  border-top-color: #928374;
}


a {
    text-decoration: none;
    color: #458588;
}

#content {
    width: 75%;
}

img {
    width: 90%
}

table {
  margin-left: auto;
  margin-right: auto;
}

h1 {
    font-size: 65px;
}

h2 {
    font-size: 45px;
    padding-bottom: 2vh;
}

h3 {
    font-size: 25px;
}

.outline-2 {
    padding-bottom: 10vh;

}

.outline-3 {
    margin: 3%;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.outline-4 {
    text-align: center;
}

.org-dl {
    margin: 5%;
}


@media screen and (max-width: 900px) {
    #content {
        width: 85%;
    }

    h1 {
        font-size: 55px;
    }

    h2 {
        font-size: 35px;
    }

}

@media screen and (max-width: 650px) {
    #content {
        width: 90%;
    }

    h1 {
        font-size: 35px;
    }


    h2 {
        font-size: 30px;
    }

}



@media screen and (max-width: 550px) {
    #content {
        width: 95%;
    }

    h1 {
        font-size: 30px;
        font-weight: bold;
    }


    h2 {
        font-size: 25px;
    }
    h3 {
        font-size: 20px;
    }

}
